<%if(theme.leancloud && theme.leancloud.enable && theme.leancloud.limits){%>
<li class="widget widget-normal popular-posts" id="popular-posts">
    <h3 class="fa fa-thermometer-3 widget-title"><%= __('popular_post') %></h3>
    <ul id="popular-content">
        <li class="load-first"><i class="fa fa-spinner fa-pulse"></i></li>
    </ul>
</li>
<%}%>