<% if (site.tags.length){ %>
<li class="widget widget-normal tags">
  <h3 class="fa fa-tags widget-title"><%= __('tagcloud') %></h3>
  <div class="tagcloud-content">
    <% var config = theme.tagcloud_config;%>
      <%-tagcloud({
          min_font: config.min_font,
          max_font: config.max_font,
          unit: config.unit,
          amount: config.amount,
          orderby: config.orderby,
          color: config.color,
          start_color: config.start_color,
          end_color: config.end_color
      }) %>
  </div>
</li>
<% } %>