<% if (page.total > 1){ %>
<div id="page-pagination">
    <div id="page-nav">
        <%- my_paginator({
            prev_text: "&laquo; Prev",
            next_text: "Next &raquo;"
        }) %>
    </div>
</div>
<% } %>